<template>
  <div>
    <div v-if="murrCards.length" class="m-cards">
      <masonry :cols="masonryCols" :gutter="masonryGutter">
        <template v-for="card in murrCards">
          <MurrCardItem
            :key="card.id"
            :isMurrenAuthorized="isMurrenAuthorized"
            :card="card"
            :targetPage="targetPage"
          />
        </template>
      </masonry>
    </div>

    <observer @murrIntersect="handlerFetchNextCards" :key="murrCards.length" />

    <loader v-if="isLoading" />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Observer from "../common/Observer.vue";
import MurrCardItem from "./MurrCardListItem.vue";
import * as type from "./store/type.js";

import "./scss/style.scss";

export default {
  name: "MurrCardList",

  components: {
    Observer,
    MurrCardItem,
  },

  data: () => ({
    isHover: false,
    isLoading: true,
    masonryGutter: { default: "30px" },

    page: 0,
    existsNextPage: false,
  }),

  props: {
    targetPage: String,
  },

  async created() {
    await this.fetchMurrCards();
  },

  beforeDestroy() {
    this.$store.commit(type.MURR_CARDS_CLEAR);
  },

  computed: {
    murrCards() {
      return this.$store.getters.murrList;
    },

    masonryCols() {
      return {
        default: this.murrCards.length > 4 ? 4 : this.murrCards.length,
        1450: this.murrCards.length > 3 ? 3 : this.murrCards.length,
        1100: this.murrCards.length > 2 ? 2 : this.murrCards.length,
        700: 1,
      };
    },

    isMurrenAuthorized() {
      return (
        this.$store.getters.accessToken_getters &&
        this.$store.getters.accessToken_getters !== ""
      );
    },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
      handlerSignInModal: "changeShowLoginForm_actions",
    }),

    async fetchMurrCards() {
      this.isLoading = true;

      let dispatchType = null;
      switch (this.targetPage) {
        case "myLikes":
          dispatchType = type.MURR_CARD_MY_LIKES;
          break;
        default:
          dispatchType = type.MURR_CARD_FETCH_LIST;
          break;
      }

      this.page = this.page + 1;
      const { existsNextPage, success } = await this.$store.dispatch(
        dispatchType,
        {
          page: this.page,
        }
      );

      if (success) {
        this.existsNextPage = existsNextPage;
      }

      this.isLoading = false;
    },

    handlerFetchNextCards() {
      if (!this.existsNextPage) return;

      this.fetchMurrCards();
    },
  },
};
</script>
